<mat-card style="margin:10vh 2vw 0vw 2vw;">
    <form *ngIf="battle" style="width: 100%;">
        <!-- VALUE SET IN THE PREVIOUS VIEW, DISABLED -->
        <div>
            <b>Name of the battle: </b> {{battle.name}}
        </div>
        <!-- VALUE SET IN THE PREVIOUS VIEW, DISABLED -->
        <div>
            <b>Description of the battle: </b> {{battle.description}}
        </div>
        <!-- INVOLVED ARMIES -->
        <div>
            <b>Involved armies: </b>
        </div>
        <!-- LIST OF ARMIES -->
        <mat-label style="display: block;" *ngFor="let army of battle.involvedArmies">
            <mat-card style = "margin-top: 2vw;">
                <div>
                    <b>{{army.name}}</b> ({{army.cohorts.length}} cohorts)
                    <mat-list-item style="display: block; margin-left: 2vw;" *ngFor="let cohort of army.cohorts"><b>{{cohort.name}}</b>, led by {{cohort.leader.name}}</mat-list-item>
                </div>
                <div>
                    <b>Strength: </b> {{army.strength}}
                </div>
                <div>
                    <b>Discipline: </b> {{army.discipline}}
                </div>
            </mat-card>
        </mat-label>
      </form>
    <button mat-raised-button color="primary" (click)="onFinalSubmit()" style="display: block; width: 100%; margin-top: 2vw; margin-bottom: 2vw;">Done</button>
</mat-card>