<mat-card class="main-card">
    <form *ngIf="battle" class="full-width">
        <!-- VALUE SET IN THE PREVIOUS VIEW, DISABLED -->
        <mat-form-field class="full-width">
          <mat-label>Name of the battle</mat-label>
          <input matInput value="{{battle.name}}" disabled>
        </mat-form-field>
        <!-- VALUE SET IN THE PREVIOUS VIEW, DISABLED -->
        <mat-form-field class="full-width">
          <mat-label>Description of the battle</mat-label>
          <textarea matInput value="{{battle.description}}" disabled></textarea>
        </mat-form-field>
        <!-- INVOLVED ARMIES -->
        <mat-label>Involved armies:</mat-label>
        <button type="button" (click)="onAddArmyClicked()" class="smaller-fab-button" mat-mini-fab color="primary" aria-label="Example icon button with a plus one icon">
          <mat-icon class="smaller-fab-button-icon">add</mat-icon>
        </button>
        <!-- "NO ARMIES" LABEL -->
        <mat-label *ngIf="!battle.involvedArmies.length && !addingNewArmy" class="block">No armies</mat-label>
        <!-- ADD NEW ARMY -->
        <mat-card *ngIf="addingNewArmy" class = "loosely-spaced">
            <form [formGroup]="newArmyForm">
                <mat-label class="bold">New army</mat-label>
                <br/>
                <mat-form-field class="loosely-spaced">
                    <mat-label>Army name</mat-label>
                    <input formControlName="armyName" matInput placeholder="e.g. Army of the Crashing Wave">
                </mat-form-field>
                <br/>
                <mat-form-field class="loosely-spaced">
                    <mat-label>Army clan</mat-label>
                    <input formControlName="armyClan" matInput placeholder="e.g. Dragon Clan">
                </mat-form-field>
                <br/>
                <mat-form-field class="loosely-spaced">
                    <mat-label>Army Strength</mat-label>
                    <input formControlName="armyStrength" matInput placeholder="e.g. 100">
                </mat-form-field>
                <br/>
                <mat-form-field class="loosely-spaced">
                    <mat-label>Army Discipline</mat-label>
                    <input formControlName="armyDiscipline" matInput placeholder="e.g. 100">
                </mat-form-field>
                <br/>
                <mat-label>Cohorts:</mat-label>
                <button type="button" (click)="onAddCohortClicked()" class="smaller-fab-button" mat-mini-fab color="primary">
                    <mat-icon class="smaller-fab-button-icon">add</mat-icon>
                </button>
                <!-- ADD NEW COHORT -->
                <mat-card *ngIf="addingNewCohort" class = "loosely-spaced">
                    <form [formGroup]="newCohortForm">
                        <mat-label class="bold">New Cohort</mat-label>
                        <br/>
                        <mat-form-field class="loosely-spaced">
                            <mat-label>Leader of the cohort</mat-label>
                            <input formControlName="leaderName" matInput placeholder="e.g. Mirumoto Anzu">
                        </mat-form-field>
                        <br/>
                        <mat-form-field class="loosely-spaced">
                            <mat-label>Cohort name</mat-label>
                            <input formControlName="cohortName" matInput placeholder="e.g. light cavalry">
                        </mat-form-field>
                        <br/>
                        <button type="button" (click)="onNewCohortSubmit()" mat-raised-button color="primary" class="wide-button">Add cohort</button>
                    </form>
                </mat-card>
                <!-- LIST OF COHORTS -->
                <mat-label class="block" *ngFor="let cohort of armyInProgress.cohorts">
                    <mat-card class = "loosely-spaced">
                        <div>
                            <b>{{cohort.name}}</b>, led by {{cohort.leader.name}}
                        </div>
                    </mat-card>
                </mat-label>
                <button type="button" (click)="onNewArmySubmit()" mat-raised-button color="primary" class="wide-button">Add army</button>
            </form>
        </mat-card>
        <!-- LIST OF ARMIES -->
        <mat-label class="block" *ngFor="let army of battle.involvedArmies">
            <mat-card class = "loosely-spaced">
                <div>
                    <b>{{army.name}}</b> ({{army.cohorts.length}} cohorts)
                </div>
                <div>
                    <b>Strength: </b> {{army.strength}}
                </div>
                <div>
                    <b>Discipline: </b> {{army.discipline}}
                </div>
            </mat-card>
        </mat-label>
      </form>
    <button mat-raised-button color="primary" (click)="onFinalSubmit()" class="wide-button">Next</button>
</mat-card>